.upper-right-logo {
  margin-top: 20px;
  height: 100%;
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  width: 40%;
  float: left;
}

ul {
 overflow: hidden;
}

.profile-picture {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.name{
  align-items: center;
  justify-content: center;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.links {
  list-style: none;
  padding-left: 0px;
}

.links li a {
  text-decoration: none;
  text-align: center;
}